# Business Analytics Team Project_Team4

## Cabbage price prediction

In [64]:
import pandas as pd
import numpy as np
import os

# read_csv 파일 불러오기
#data load
d_temp = pd.read_csv(r"D:\파일\3학년\3-2\Business Analytics\팀플\데이터\전국_일별기온.csv", sep=',', encoding='cp949',thousands = ',')
d_rain = pd.read_csv(r"D:\파일\3학년\3-2\Business Analytics\팀플\데이터\전국_일별강수량.csv", sep=',', encoding='cp949',thousands = ',')
m_price = pd.read_csv(r"D:\파일\3학년\3-2\Business Analytics\팀플\데이터\월간_소비자물가지수.csv", sep=',', encoding='cp949',thousands = ',')
m_trade = pd.read_csv(r"D:\파일\3학년\3-2\Business Analytics\팀플\데이터\월간_수출수입.csv", sep=',', encoding='cp949',thousands = ',')
y_produce=pd.read_csv(r"D:\파일\3학년\3-2\Business Analytics\팀플\데이터\연간_생산면적생산량.csv", sep=',', encoding='cp949',thousands = ',')

folders = os.listdir('D:/파일/3학년/3-2/Business Analytics/팀플/데이터/배추가격')
print(folders)

['12상.csv', '13상.csv', '14상.csv', '15상.csv', '16상.csv', '17상.csv', '18상.csv', '19상.csv', '20상.csv', '21상.csv', '22상.csv']

In [65]:
#merge data

d_price = pd.DataFrame()
for i in range(0,len(folders)):
    if folders[i].split('.')[1] == 'csv':
        file = 'D:/파일/3학년/3-2/Business Analytics/팀플/데이터/배추가격/' + folders[i]
        df= pd.read_csv(file, encoding='cp949',thousands = ',') 
        d_price = pd.concat([d_price, df])

d_price

             구분    평균
0    2012-01-02  3100
1    2012-01-03  3100
2    2012-01-04  3200
3    2012-01-05  3800
4    2012-01-06  3800
..          ...   ...
207  2022-11-07  7997
208  2022-11-08  7860
209  2022-11-09  7460
210  2022-11-10  7664
211  2022-11-11  7704

[2675 rows x 2 columns]

In [66]:
d_rain.rename(columns={'날짜':'구분'}, inplace = True)
d_price.rename(columns={'평균':'평균배추가격'}, inplace = True)

d1 = pd.merge(d_price, d_temp, on = '구분', how = 'left')
d2 = pd.merge(d1,d_rain,on = '구분', how = 'left')

d2

              구분  평균배추가격  지점  평균기온(℃)  최저기온(℃)  최고기온(℃)  강수량(mm)
0     2012-01-02    3100  전국     -2.8     -7.5      2.6      0.0
1     2012-01-03    3100  전국     -1.9     -5.8      2.8      0.7
2     2012-01-04    3200  전국     -4.0     -6.6     -1.0      0.8
3     2012-01-05    3800  전국     -4.1     -8.7      1.5      0.0
4     2012-01-06    3800  전국     -2.6     -7.8      3.7      0.0
...          ...     ...  ..      ...      ...      ...      ...
2670  2022-11-07    7997  전국      9.1      2.1     17.2      0.0
2671  2022-11-08    7860  전국     10.4      4.4     18.5      0.0
2672  2022-11-09    7460  전국     10.2      3.6     18.1      0.0
2673  2022-11-10    7664  전국     11.8      5.5     19.9      0.0
2674  2022-11-11    7704  전국     13.4      7.4     21.1      0.0

[2675 rows x 7 columns]

In [67]:
d2['Year'] = pd.DatetimeIndex(d2['구분']).year
d2['Month'] = pd.DatetimeIndex(d2['구분']).month
d2['Day'] = pd.DatetimeIndex(d2['구분']).day
d2 = d2.drop(['구분'], axis = 1)

d2

      평균배추가격  지점  평균기온(℃)  최저기온(℃)  최고기온(℃)  강수량(mm)  Year  Month  Day
0       3100  전국     -2.8     -7.5      2.6      0.0  2012      1    2
1       3100  전국     -1.9     -5.8      2.8      0.7  2012      1    3
2       3200  전국     -4.0     -6.6     -1.0      0.8  2012      1    4
3       3800  전국     -4.1     -8.7      1.5      0.0  2012      1    5
4       3800  전국     -2.6     -7.8      3.7      0.0  2012      1    6
...      ...  ..      ...      ...      ...      ...   ...    ...  ...
2670    7997  전국      9.1      2.1     17.2      0.0  2022     11    7
2671    7860  전국     10.4      4.4     18.5      0.0  2022     11    8
2672    7460  전국     10.2      3.6     18.1      0.0  2022     11    9
2673    7664  전국     11.8      5.5     19.9      0.0  2022     11   10
2674    7704  전국     13.4      7.4     21.1      0.0  2022     11   11

[2675 rows x 9 columns]

In [68]:
y_produce.columns = ['Year','생산면적 (ha)','생산량 (톤)']
y_produce['Year']=y_produce['Year'].astype(int)

y_produce

    Year  생산면적 (ha)    생산량 (톤)
0   2022      23853        NaN
1   2021      30085  2017507.0
2   2020      30949  2242640.0
3   2019      25837  1859705.0
4   2018      31143  2391946.0
5   2017      32416  2395686.0
6   2016      24902  1793391.0
7   2015      27174  2134976.0
8   2014      32027  2538804.0
9   2013      32020  2299251.0
10  2012      29524  2001642.0

In [69]:
d2=pd.merge(d2, y_produce, how='left')
d2

,평균배추가격,지점,평균기온(℃),최저기온(℃),최고기온(℃),강수량(mm),Year,Month,Day,생산면적 (ha),생산량 (톤)
0,3100,전국,-2.8,-7.5,2.6,0.0,2012,1,2,29524,2001642.0
1,3100,전국,-1.9,-5.8,2.8,0.7,2012,1,3,29524,2001642.0
2,3200,전국,-4.0,-6.6,-1.0,0.8,2012,1,4,29524,2001642.0
3,3800,전국,-4.1,-8.7,1.5,0.0,2012,1,5,29524,2001642.0
4,3800,전국,-2.6,-7.8,3.7,0.0,2012,1,6,29524,2001642.0
...,...,...,...,...,...,...,...,...,...,...,...
2670,7997,전국,9.1,2.1,17.2,0.0,2022,11,7,23853,NaN
2671,7860,전국,10.4,4.4,18.5,0.0,2022,11,8,23853,NaN
2672,7460,전국,10.2,3.6,18.1,0.0,2022,11,9,23853,NaN
2673,7664,전국,11.8,5.5,19.9,0.0,2022,11,10,23853,NaN
2674,7704,전국,13.4,7.4,21.1,0.0,2022,11,11,23853,NaN

In [70]:
m_price

          시점  소비자물가지수
0    2022.10  109.210
1    2022.09  108.930
2    2022.08  108.620
3    2022.07  108.740
4    2022.06  108.220
..       ...      ...
125  2012.05   91.769
126  2012.04   91.605
127  2012.03   91.614
128  2012.02   91.588
129  2012.01   91.242

[130 rows x 2 columns]

In [71]:
m_price['시점']=m_price['시점'].astype(str)

m_price['Year'] = m_price.시점.str.split('.').str[0]
m_price['Month'] = m_price.시점.str.split('.').str[1]
m_price.loc[m_price['Month'] == '1', 'Month'] = '10'
m_price.drop('시점', axis=1, inplace=True)

m_price['Year']=m_price['Year'].astype(int)
m_price['Month']=m_price['Month'].astype(int)
d2=pd.merge(d2,m_price, how='left')

d2

,평균배추가격,지점,평균기온(℃),최저기온(℃),최고기온(℃),강수량(mm),Year,Month,Day,생산면적 (ha),생산량 (톤),소비자물가지수
0,3100,전국,-2.8,-7.5,2.6,0.0,2012,1,2,29524,2001642.0,91.242
1,3100,전국,-1.9,-5.8,2.8,0.7,2012,1,3,29524,2001642.0,91.242
2,3200,전국,-4.0,-6.6,-1.0,0.8,2012,1,4,29524,2001642.0,91.242
3,3800,전국,-4.1,-8.7,1.5,0.0,2012,1,5,29524,2001642.0,91.242
4,3800,전국,-2.6,-7.8,3.7,0.0,2012,1,6,29524,2001642.0,91.242
...,...,...,...,...,...,...,...,...,...,...,...,...
2670,7997,전국,9.1,2.1,17.2,0.0,2022,11,7,23853,NaN,NaN
2671,7860,전국,10.4,4.4,18.5,0.0,2022,11,8,23853,NaN,NaN
2672,7460,전국,10.2,3.6,18.1,0.0,2022,11,9,23853,NaN,NaN
2673,7664,전국,11.8,5.5,19.9,0.0,2022,11,10,23853,NaN,NaN
2674,7704,전국,13.4,7.4,21.1,0.0,2022,11,11,23853,NaN,NaN

In [72]:
#월 표기 형식 변경
m_trade.dropna(inplace=True)

m_trade['년월']=m_trade['년월'].astype(str)

m_trade['Year'] = m_trade.년월.str.split('.').str[0]
m_trade['Month'] = m_trade.년월.str.split('.').str[1]

m_trade.loc[m_trade['Month'] == '1', 'Month'] = '10'
m_trade.drop('년월', axis=1, inplace=True)

m_trade['Year']=m_trade['Year'].astype(int)
m_trade['Month']=m_trade['Month'].astype(int)


#수입액 결측치 제거
m_trade.rename(columns={'수입액($1000)':'수입액'}, inplace = True)
m_trade.rename(columns={'수입량(kg)':'수입량'}, inplace = True)

m_trade['수입액']=m_trade['수입액'].astype(int)
m_trade['수입량']=m_trade['수입량'].astype(int)

m_trade= m_trade.loc[(m_trade.수입액 != 0) | (m_trade.수입량 == 0)]


#일별 데이터, 월별 데이터 합치기
d2=pd.merge(d2,m_trade, how='left')

d2.dropna(subset=['수출액($1000)'], inplace=True)

production_min = d2['생산량 (톤)'].min()
d2.fillna(production_min, inplace=True)
d2 = d2.drop('Year', axis=1)
d2 = d2.drop('Day', axis=1)
d2 = d2.drop('지점', axis=1)

d2

d2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2486 entries, 20 to 2646
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   평균배추가격      2486 non-null   int64
 1   평균기온(℃)     2486 non-null   float64
 2   최저기온(℃)     2486 non-null   float64
 3   최고기온(℃)     2486 non-null   float64
 4   강수량(mm)     2486 non-null   float64
 5   Month       2486 non-null   int64
 6   생산면적 (ha)   2486 non-null   int64
 7   생산량 (톤)     2486 non-null   float64
 8   소비자물가지수     2486 non-null   float64
 9   수출액($1000)  2486 non-null   float64
 10  수출량(kg)     2486 non-null   float64
 11  수입액         2486 non-null   float64
 12  수입량         2486 non-null   float64
dtypes: float64(10), int64(3)
memory usage: 271.9 KB

In [73]:
d2['Month']=d2['Month'].astype(str)
d2['Month']=d2['Month'].str.replace('10', '가을')
d2['Month']=d2['Month'].str.replace('12', '겨울')
d2['Month']=d2['Month'].str.replace('1', '겨울')
d2['Month']=d2['Month'].str.replace('2', '겨울')
d2['Month']=d2['Month'].str.replace('3', '봄')
d2['Month']=d2['Month'].str.replace('4', '봄')
d2['Month']=d2['Month'].str.replace('5', '봄')
d2['Month']=d2['Month'].str.replace('6', '여름')
d2['Month']=d2['Month'].str.replace('7', '여름')
d2['Month']=d2['Month'].str.replace('8', '여름')
d2['Month']=d2['Month'].str.replace('9', '가을')
d2['Month']=d2['Month'].str.replace('11', '가을')

d2.rename(columns={'Month':'계절'}, inplace = True)

d2.rename(columns={'수입액':'수입액($1000)'}, inplace = True)
d2.rename(columns={'수입량':'수입량(kg)'}, inplace = True)

d2

,평균배추가격,평균기온(℃),최저기온(℃),최고기온(℃),강수량(mm),계절,생산면적 (ha),생산량 (톤),소비자물가지수,수출액($1000),수출량(kg),수입액($1000),수입량(kg)
20,3560,-6.5,-10.6,-0.4,0.3,겨울,29524,2001642.0,91.588,102.0,179261.0,0.0,0.0
21,3740,-10.2,-13.9,-5.7,0.1,겨울,29524,2001642.0,91.588,102.0,179261.0,0.0,0.0
22,3840,-7.0,-13.7,-0.9,0.0,겨울,29524,2001642.0,91.588,102.0,179261.0,0.0,0.0
23,4100,1.2,-4.3,6.2,1.6,겨울,29524,2001642.0,91.588,102.0,179261.0,0.0,0.0
24,4100,-3.7,-8.5,3.0,0.0,겨울,29524,2001642.0,91.588,102.0,179261.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2642,27760,17.8,13.9,23.4,0.0,가을,23853,1793391.0,108.930,33.0,12522.0,627.0,1081765.0
2643,26720,18.7,13.2,26.3,0.0,가을,23853,1793391.0,108.930,33.0,12522.0,627.0,1081765.0
2644,25860,18.4,13.5,24.8,0.0,가을,23853,1793391.0,108.930,33.0,12522.0,627.0,1081765.0
2645,24640,18.6,13.5,26.4,0.0,가을,23853,1793391.0,108.930,33.0,12522.0,627.0,1081765.0
2646,23740,18.9,12.7,27.6,0.0,가을,23853,1793391.0,108.930,33.0,12522.0,627.0,1081765.0

In [74]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import PolynomialFeatures

In [75]:
x=d2.drop('평균배추가격', axis=1)
y=d2.평균배추가격

x

,평균기온(℃),최저기온(℃),최고기온(℃),강수량(mm),계절,생산면적 (ha),생산량 (톤),소비자물가지수,수출액($1000),수출량(kg),수입액($1000),수입량(kg)
20,-6.5,-10.6,-0.4,0.3,겨울,29524,2001642.0,91.588,102.0,179261.0,0.0,0.0
21,-10.2,-13.9,-5.7,0.1,겨울,29524,2001642.0,91.588,102.0,179261.0,0.0,0.0
22,-7.0,-13.7,-0.9,0.0,겨울,29524,2001642.0,91.588,102.0,179261.0,0.0,0.0
23,1.2,-4.3,6.2,1.6,겨울,29524,2001642.0,91.588,102.0,179261.0,0.0,0.0
24,-3.7,-8.5,3.0,0.0,겨울,29524,2001642.0,91.588,102.0,179261.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2642,17.8,13.9,23.4,0.0,가을,23853,1793391.0,108.930,33.0,12522.0,627.0,1081765.0
2643,18.7,13.2,26.3,0.0,가을,23853,1793391.0,108.930,33.0,12522.0,627.0,1081765.0
2644,18.4,13.5,24.8,0.0,가을,23853,1793391.0,108.930,33.0,12522.0,627.0,1081765.0
2645,18.6,13.5,26.4,0.0,가을,23853,1793391.0,108.930,33.0,12522.0,627.0,1081765.0
2646,18.9,12.7,27.6,0.0,가을,23853,1793391.0,108.930,33.0,12522.0,627.0,1081765.0

In [76]:
y

20       3560
21       3740
22       3840
23       4100
24       4100
        ...
2642    27760
2643    26720
2644    25860
2645    24640
2646    23740
Name: 평균배추가격, Length: 2486, dtype: int64

In [77]:
x_trainval, x_test, y_trainval, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [78]:
x_trainval

x_test

,평균기온(℃),최저기온(℃),최고기온(℃),강수량(mm),계절,생산면적 (ha),생산량 (톤),소비자물가지수,수출액($1000),수출량(kg),수입액($1000),수입량(kg)
911,20.3,13.6,27.1,0.0,가을,27174,2134976.0,94.966,2477.0,3901417.0,0.0,0.0
2330,22.4,17.5,28.6,0.4,여름,30085,2017507.0,102.050,2555.0,4191418.0,3.0,7350.0
53,3.9,-1.9,10.0,0.0,봄,29524,2001642.0,91.614,99.0,71207.0,48.0,135850.0
418,20.6,14.7,27.1,0.0,가을,32020,2299251.0,93.419,87.0,82834.0,77.0,171305.0
1317,19.1,11.3,26.4,0.3,봄,32416,2395686.0,97.546,1645.0,3715350.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1968,1.7,-2.5,7.4,0.0,겨울,30949,2242640.0,100.090,513.0,666684.0,0.0,0.0
602,20.9,17.9,25.4,0.9,여름,32027,2538804.0,94.248,856.0,1517717.0,12.0,24000.0
2159,13.3,8.6,19.3,0.0,가을,30949,2242640.0,100.180,1317.0,1848628.0,135.0,303058.0
550,6.4,3.0,10.7,2.7,봄,32027,2538804.0,94.153,464.0,968353.0,0.0,0.0
1076,15.4,9.9,21.7,5.9,봄,24902,1793391.0,95.630,480.0,734434.0,14.0,57750.0

In [79]:
kfold = KFold(n_splits=5, shuffle=True, random_state=0)

scaler = StandardScaler()

best_r2=0

for alpha in np.logspace(-1, 1, 50): # candidates for alpha
    
    print(alpha)
    
    r2_val = []
    maxdegree=5
    
    for d in range(1,maxdegree):
        
        print(d)
        
        alpha_settings.append(alpha)
        d_settings.append(d)
            
        poly = PolynomialFeatures(degree=d,include_bias=False)
            
        for train_idx, val_idx in kfold.split(x_trainval, y_trainval):
            
            x_train = x_trainval.iloc[train_idx]
            y_train = y_trainval.iloc[train_idx]
            x_val = x_trainval.iloc[val_idx]
            y_val = y_trainval.iloc[val_idx]

            x_train_cat = x_train[['계절']]
            x_train_num = x_train[['평균기온(℃)', '최저기온(℃)', '최고기온(℃)', '강수량(mm)', '생산면적 (ha)', '생산량 (톤)', '소비자물가지수', '수출액($1000)', '수출량(kg)', '수입액($1000)', '수입량(kg)']]

            x_val_cat = x_val[['계절']]
            x_val_num = x_val[['평균기온(℃)', '최저기온(℃)', '최고기온(℃)', '강수량(mm)', '생산면적 (ha)', '생산량 (톤)', '소비자물가지수', '수출액($1000)', '수출량(kg)', '수입액($1000)', '수입량(kg)']]


            # For x_train_cat and x_val_cat, apply onehotencoding
            ohe = OneHotEncoder(sparse=False)
            ohe.fit(x_train_cat)

            x_train_cat_ohe = ohe.transform(x_train_cat)
            x_val_cat_ohe = ohe.transform(x_val_cat)


            # For x_train_num and x_val_num, apply standardscaler
            scaler = StandardScaler()
            scaler.fit(x_train_num)

            x_train_num_scaled = scaler.transform(x_train_num)
            x_val_num_scaled = scaler.transform(x_val_num)

            poly.fit(x_train_num_scaled)
            x_train_poly = poly.transform(x_train_num_scaled)
            x_val_poly = poly.transform(x_val_num_scaled)
        
        
            # concatenate them agin into x_train and X_val. 
            x_train_trans = np.concatenate([x_train_cat_ohe, x_train_poly], axis=1)
            x_val_trans = np.concatenate([x_val_cat_ohe, x_val_poly], axis=1)


            # training is performed with the Lasso set to the current alpha.
            ridge = Ridge (alpha = alpha, random_state=0, max_iter=10000)
            ridge.fit(x_train_trans, y_train)

            # get y_valid_hat with the trained model & store r2 score in scores_val
            y_val_hat= ridge.predict(x_val_trans)

            # store r2 score,mse
            r2_val.append(r2_score(y_val, y_val_hat))
        
        mean_r2 = np.mean(r2_val) # get the cross-validation score
    
        # When the mean_score is higher than current best score,best_score is updated and the hyperparameter at that time is saved
        if mean_r2 > best_r2:        
            best_r2 = mean_r2
            best_parameters = {'alpha': alpha,'degree': d}

print("Best score on validation set: {:.7f}".format(best_r2))
print("Best hyperparameters: {}".format(best_parameters))

0.1
1
2
3
4
0.10985411419875583
1
2
3
4
0.12067926406393285
1
2
3
4
0.13257113655901093
1
2
3
4
0.14563484775012436
1
2
3
4
0.15998587196060582
1
2
3
4
0.1757510624854792
1
2
3
4
0.193069772888325
1
2
3
4
0.21209508879201905
1
2
3
4
0.2329951810515372
1
2
3
4
0.2559547922699536
1
2
3
4
0.281176869797423
1
2
3
4
0.3088843596477481
1
2
3
4
0.3393221771895328
1
2
3
4
0.372759372031494
1
2
3
4
0.4094915062380424
1
2
3
4
0.44984326689694454
1
2
3
4
0.49417133613238345
1
2
3
4
0.5428675439323859
1
2
3
4
0.5963623316594643
1
2
3
4
0.6551285568595507
1
2
3
4
0.7196856730011519
1
2
3
4
0.7906043210907697
1
2
3
4
0.8685113737513525
1
2
3
4
0.9540954763499939
1
2
3
4
1.0481131341546859
1
2
3
4
1.151395399326447
1
2
3
4
1.2648552168552958
1
2
3
4
1.3894954943731375
1
2
3
4
1.5264179671752334
1
2
3
4
1.6768329368110073
1
2
3
4
1.8420699693267153
1
2
3
4
2.0235896477251565
1
2
3
4
2.2229964825261943
1
2
3
4
2.442053094548651
1
2
3
4
2.6826957952797246
1
2
3
4
2.9470517025518097
1
2
3
4
3.2374575428176433
1
2
3
4
3.5564803062231287
1
2
3
4
3.9069399370546147
1
2
3
4
4.291934260128776
1
2
3
4
4.714866363457392
1
2
3
4
5.17947467923121
1
2
3
4
5.689866029018296
1
2
3
4
6.25055192527397
1
2
3
4
6.866488450042998
1
2
3
4
7.543120063354615
1
2
3
4
8.286427728546842
1
2
3
4
9.102981779915218
1
2
3
4
10.0
1
2
3
4
Best score on validation set: 0.7328941
Best hyperparameters: {'alpha': 7.543120063354615, 'degree': 3}

In [80]:
x_trainval_cat = x_trainval[['계절']]
x_trainval_num = x_trainval[['평균기온(℃)', '최저기온(℃)', '최고기온(℃)', '강수량(mm)', '생산면적 (ha)', '생산량 (톤)', '소비자물가지수', '수출액($1000)', '수출량(kg)', '수입액($1000)', '수입량(kg)']]
        
x_test_cat = x_test[['계절']]
x_test_num = x_test[['평균기온(℃)', '최저기온(℃)', '최고기온(℃)', '강수량(mm)', '생산면적 (ha)', '생산량 (톤)', '소비자물가지수', '수출액($1000)', '수출량(kg)', '수입액($1000)', '수입량(kg)']]

In [81]:
ohe = OneHotEncoder(sparse=False)
ohe.fit(x_trainval_cat)

x_trainval_cat_ohe = ohe.transform(x_trainval_cat)
x_test_cat_ohe = ohe.transform(x_test_cat)

In [82]:
scaler = StandardScaler()

scaler.fit(x_trainval_num)

x_trainval_num_scaled = scaler.transform(x_trainval_num)
x_test_num_scaled = scaler.transform(x_test_num)

poly = PolynomialFeatures(degree=3,include_bias=False)

poly.fit(x_trainval_num_scaled)
x_trainval_poly = poly.transform(x_trainval_num_scaled)
x_test_poly = poly.transform(x_test_num_scaled)

In [83]:
x_trainval_trans = np.concatenate([x_trainval_cat_ohe, x_trainval_poly], axis=1)
x_test_trans = np.concatenate([x_test_cat_ohe, x_test_poly], axis=1)

In [84]:
ridge = Ridge(alpha = 7.543120063354615, random_state=0, max_iter=10000)
ridge.fit(x_trainval_trans, y_trainval)

y_test_hat = ridge.predict(x_test_trans)

test_score = r2_score(y_test, y_test_hat)

print("Test-set score:", test_score)

Test-set score: 0.8784319654985286